<html>
<head>
    <script type="text/javascript">
    function checkForm()
    {
        if(document.getElementById("login").value == "")
        {
            alert("Formulaire invalide : le nom d'utilisateur est vide");
            return false;
        }
        else
        {
            alert("Le formulaire est valide");
            return true;
        }
    }
    </script>
</head>
<body>
<form onsubmit="return checkForm();">
    Nom d'utilisateur : <input type="text" id="login"/><br/>
    Mot de passe : <input type="text" id="password"/><br/>
    <input type="submit" value="Envoyer"/>
</form>
</body>
</html>
