<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <title>TECHOUSE</title>
    </head>

    <body>
        
        
         <header>
                <div id="header">
                    <div class="logo" > <img src="techouse.png" alt="Logo" /> </div>
                    <div class="MonEspace" > <a href="PageConnexion.html"><img class="espace" src="MonEspace.png" alt="espace" /></a> </div> 
                </div>
         </header>

            <h1>Bienvenue Mr. WANG !</h1> 
            <h2>Gérer ma maison</h2>

            <div id="bienvenue">
                <div class="capteur" >
                    <center><img src="capteur.png" alt="offre" /></center>
                    <h4>Capteurs</h4>
                </div>
                <div class="piece" >
                    <center><img src="piece.png" alt="piece" /></center>
                    <h4>Pièces</h4>
                </div>
                <div class="statistique" >
                    <center><img src="statistiqueGlobal.png" alt="statistique global" /></center>
                    <h4>Statistique Global</h4>
                </div>
            </div>
            
    </body>
</html>