body
{
    /* background-color: rgba(246, 253, 255, 0.979);*/
    color: white;
    background: url("../View/Content/images/Back.png") no-repeat center fixed;
    background-size: cover; /* prend toute la page*/
}
h1,h2,h3,h4
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, "Arial Black", Arial, Verdana, sans-serif; /* Impact, si marche pas Arial Black... */
}

h5
{
    text-align: left ;
    
    font-family: 'Arial Narrow', Arial, sans-serif, "Arial Black", Arial, Verdana, sans-serif; /* Impact, si marche pas Arial Black... */
}

#header
{
    /*   background-color: rgba(246, 253, 255, 0.979);*/

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element1, .element2, .element3
{
    width: 300px;
    text-align: justify;
    padding: 12px;
    margin: 50px;/* Marge extérieure de 50px */
}

#acceuil
{

    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#bienvenue
{

    color: white;
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

#Connexion
{
    line-height:30px; /* distance entre les lignes*/
    color: black;
    margin: auto;
    text-align: center;
    border-radius: 10px; /* bord arrondi*/
    width: 30%;
    height:300px;
    background-color: rgb(181, 217, 241);
    box-shadow: 6px 6px 0px rgb(70, 93, 114);

}

.ftr {

}

a.ftr {
    color: white;
    text-decoration: none;
}

.footer {
    display: table-row;
    display: flex;
    color: white;
    justify-content: space-around;
    font-family: arial narrow;

}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}