body
{
    /* background-color: rgba(246, 253, 255, 0.979);*/
    color: white;
    background: url("../View/Content/images/Back.png") no-repeat center fixed;
    background-size: cover; /* prend toute la page*/
}
h1,h2,h3,h4
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, "Arial Black", Arial, Verdana, sans-serif; /* Impact, si marche pas Arial Black... */
}

h5
{
    text-align: left ;
    
    font-family: 'Arial Narrow', Arial, sans-serif, "Arial Black", Arial, Verdana, sans-serif; /* Impact, si marche pas Arial Black... */
}

#header
{
    /*   background-color: rgba(246, 253, 255, 0.979);*/

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element1, .element2, .element3
{
    width: 300px;
    text-align: justify;
    padding: 12px;
    margin: 50px;/* Marge extérieure de 50px */
}

.messages
{
  
    text-align: justify;

    
    margin: 10px;/* Marge extérieure de 50px */
}

#acceuil
{

    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#bienvenue, #capteurs
{

    color: white;
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

#pieces
{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    padding: 50px;
}


.valeurTemp
{
   
    color: black;
    text-align: center;
    border-radius: 10px; /* bord arrondi*/
    width: 20%;
    height:80px;
    background-color: rgb(255, 255, 255);
 

}

.Temperatures
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#Connexion
{
    line-height:30px; /* distance entre les lignes*/
    color: black;
    margin: auto;
    text-align: center;
    border-radius: 10px; /* bord arrondi*/
    width: 30%;
    height:300px;
    background-color: rgb(181, 217, 241);
    box-shadow: 6px 6px 0px rgb(70, 93, 114);

}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



#pieces :hover
{
  width:180px;
  height:230px;
}

.Switch {
	position: relative;
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
	color: #ccc;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
	height: 18px;
	padding: 6px 6px 5px 6px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	background: #ececec;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	font-size: 16px;
}
.Switch span {
	display: inline-block;
	width: 35px;
}
.Switch span.On { color: #33d2da; }
.Switch .Toggle {
	position: absolute;
	top: 1px;
	width: 37px;
	height: 25px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	background: #fff;
	
}
.Switch.Off .Toggle { left: 2%; }
.Switch.On .Toggle { left: 54%; }

#titrefaq {
        text-align: center;
        font-size: 2em;
}


.faq-section {
        margin: 40px 0;
}

.faq-section input,
.faq-section p{
    display: none;
}

.faq-section label+p{
    display: block;
    color: #999;
    font-size: .85em;
    transition: all .15s ease-out;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.faq-section input[type=checkbox]:checked~p{
    display: block;
    color: #444;
    font-size: 1em;
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}

.faq-section label{
    color: black;
    font-size: 1.2em;
    cursor: pointer;
    background: #eee;
    display: block;
    position: relative;
    padding: 7px 10px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-left: 3px solid #888;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    transition: all .15s ease-out;
}

.faq-section label::selection{
    background: none;
}

.faq-section label:hover{
    background: #f5f5f5;
}

.faq-section input[type=checkbox]:checked~label{
    border-color: #ff7f50;
    background: #f5deb4;
    background-image: linear-gradient(to bottom, #fff, #f5deb4);
    box-shadow: 0 0 1px rgba(0,0,0,.4);
}

.faq-section label::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit;
}

.faq-section input[type=checkbox]:checked~label::before{
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;
}

.footer {
    display: table;
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
}
.ftr {
    height: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: arial narrow;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #46b4f2
}


tr:hover td {
    background: none repeat scroll 0 0 #d8fffd;
    color: #000000;
}
tr.selected td {
    background: none repeat scroll 0 0 #d8fffd;
    color: #000000;
}

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    color: #262626;
}
.form-style-6 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2EBC99;
}